<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>
</head>


<body class="sb-nav-fixed">


    @*THE NAVBAR TOP*@
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">KAB'TECH</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"></button>
    </nav>


    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">ADMIN KABTECH MANAGEMENT</div>
                        <a class="nav-link" href="/Home/Index">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>

                        @*THIS PART IS THE SECOND LEFT TP AFTER DASHBOARD*@

                        <div class="sb-sidenav-menu-heading">Add to the table</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                            <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                            Data
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>


                        <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">

                                <a>
                                    @Html.ActionLink("Students", "Index", "Student", new { @class = "elements" }, null)
                                </a>


                                <a>
                                    @Html.ActionLink("Instructors", "Index", "Instructor", new { @class = "elements" }, null)
                                </a>

                                <a>
                                    @Html.ActionLink("Departements", "Index", "Department", new { @class = "elements" }, null)
                                </a>


                                <a>
                                    @Html.ActionLink("Courses", "Index", "Course", new { @class = "elements" }, null)
                                </a>


                            </nav>
                        </div>

                    </div>
                </div>
            </nav>
        </div>
    </div>
  
    <img src="~/Content/img/administrativeprofessionals.jpg" alt="Smiley face" height="622" width="1220">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/assets/demo/chart-area-demo.js"></script>
    <script src="~/Content/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="~/Content/assets/demo/datatables-demo.js"></script>
</body>
</html>
